<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body class="layout-default">
    <section class="hero is-fullheight is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                        <div class="card-content">
              <h4 class="title is-4 has-text-centered is-spaced has-text-weight-bold">Sign up</h4>
              <form action="" method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="button is-primary is-medium is-fullwidth">Create</button>
              </form>
          </div>
            </div>
          </div>
  </section>
</body>
</html>