{% extends 'blog/base.html' %}

{% block content %}
<article class="box media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://placehold.it/128x128">
    </p>
  </figure>
    <div class="media-content">
      <div class="content">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
          {{ post.text|linebreaksbr }}<br>
            <small>
              {% if post.author == request.user %}
              <a href="{% url 'post_edit' pk=post.pk %}">Edit</a>
              {% endif %}
              投稿日: {{ post.published_date }}
            </small>
          </p>
      </div>
    </div>
  </article>
    <canvas id="myChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'radar', 
        data: { 
            labels: ["logical", "particle", "performance"],
            datasets: [{
                label: '{{ post.title }}のレビュー',
                data: [{{ post.logical }}, {{ post.particle }}, {{ post.performance }}],
                backgroundColor: 'RGBA(0,153,255, 0.5)',
                borderColor: 'RGBA(0,153,255, 1)',
                borderWidth: 1,
                pointBackgroundColor: 'RGB(46,106,177)'
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Result'
            },
            scale:{
                ticks:{
                    suggestedMin: 0,
                    suggestedMax: 5,
                    stepSize: 1,
                    callback: function(value, index, values){
                        return  value
                    }
                }
            }
        }
    });
    </script>
    <div>
      <h3>コメント内容</h3>
      <hr>
      {% for comment in comments %}
      <div class="column is-half">
      <article class="message is-primary">
          <div class="message-header">
            <p>
              
              {{ comment.author }}さん
              
            </p>
          </div>
          <div class="message-body">
              {{ comment.text }}
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
    {% if user.is_superuser %}
    <div class="column is-half">
    <p>コメント投稿</p>
    <form method="post" action="" class="is-half">
      {% load widget_tweaks %}
      {% csrf_token %}
      {{ form.text|add_class:"textarea input is-primary" }}
      <input type="submit" class="button is-info">
    </form>
    </div>
    {% endif %}
{% endblock %}