{% extends 'blog/base.html' %}

{% block content %}
{% load widget_tweaks %}
  {% for post in posts %}
  <article class="box media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="http://placehold.it/128x128">
      </p>
    </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="is-primary">{{ post.title }}</h2>
            {{ post.text|linebreaksbr }}<br>
            <p>　</p>
              <small><p>{{ post.author }}さん　投稿日: {{ post.published_date }}</p></small>
              <a href="{% url 'post_detail' pk=post.pk %}" class="button is-primary is-pulled-right">Detail</a>
            </p>
        </div>
      </div>
  </article>
  {% endfor %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
{% if posts.has_previous %}
  <a class="pagination-previous" href="?page={{ posts.previous_page_number }}">Previous</a>
{% else %}

{% endif %}

{% if posts.has_next %}
  <a class="pagination-next" href="?page={{ posts.next_page_number }}">Next</a>
{% else %}

{% endif %}

<ul class="pagination-list">
    {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
            <a class="pagination-link is-current" href="#!">{{ num }}</a>
        {% else %}
            <a class="pagination-link" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
</ul>
</nav>
{% endblock %}