{% extends 'blog/base.html' %}

{% block content %}
{% load widget_tweaks %}
  {% for post in posts %}
  <article class="box media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="http://placehold.it/128x128">
      </p>
    </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="is-primary">{{ post.title }}</h2>
            {{ post.text|linebreaksbr }}<br>
            <p>　</p>
              <small><p>{{ post.author }}さん　投稿日: {{ post.published_date }}</p></small>
              <a href="{% url 'post_detail' pk=post.pk %}" class="button is-primary is-pulled-right">Detail</a>
            </p>
        </div>
      </div>
  </article>
  {% endfor %}
{% endblock %}